/* apartment layout .css*/

h1,h2{
	text-align:center;
	font-family: arial, Monospace;
	color:blue;
}
body{
	font-family:arial, Monospace;
}
header{
	width:45%;
	margin-left:auto;
	margin-right:auto;
}
.audiocontrols{
	text-align:center;
}
nav{
	text-align:center;
}
.schedule{

	width:600px;
	margin-left:auto;
	margin-right:auto;
}
table{
	width:100%;
	border:1px solid black;
	border-collapse:collapse;
}
th{
	background-color:#4286f4;
	color:white;
	
}
td{
	border:1px solid #d5ed3b;
	background-color:#f7ac22;
}
.roomview{
	width:600px;
	margin-left:auto;
	margin-right:auto;
}
.roomview img{
	width:100%;
	height:100%;
}